<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'New Card', new_card_path, class: 'new-button' %>
</p>

<div class="card-list">
  <% @cards.each do |card| %>
	<%= render 'card', card: card %>
  <% end %>
</div>
