@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Merienda');

.new-button {
  font-family: 'Merienda', sans-serif;
  background-color: YellowGreen;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 30px;
  color: white;

  &:hover {
    background-color: SeaGreen;
  }
  &:visited {
    color: white;
  }
}

.card-list a {
  text-decoration: none;
}

.card {
  background-color: DimGray;
  border: 3px solid #333;
  border-radius: 5px;
  padding: 5px;
  text-align: center;

  background-image: url(https://i.imgur.com/K7PdWrE.jpg);
  background-size: cover;

  width: 250px;
  height: 375px;

  margin: 5px;

  font-family: 'Merienda', sans-serif;

  display: inline-block;
  vertical-align: text-top;

  h1 {
    font-size: 22px;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    margin: 20px auto;
  }

  .image {
    margin: 5px auto;
    border-radius: 5px;
    width: 95%;
    height: 175px;
    margin-bottom: 20px;
    border: 3px solid Maroon;
    background-size: cover;
  }

  p {
    background-color: rgba(244, 164, 96, 0.4);
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 95%;
    border: 3px solid Maroon;
    box-sizing: border-box;
  }
}
